*,
::before,
::after {
	box-sizing: border-box;
}

html {
	font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: 20px;
}

.book {
    border-radius: 15px;
    box-shadow: 2px 2px 3px lightslategrey;
    padding: 10px;
}

.center {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.new-book {
    border-radius: 30px;
    padding: 5px 30px;
    border-style: none;
    background-color:darkturquoise;
    font-size: 1.5rem;
    font-weight: bold;
}

.new-book:hover {
    outline: 2px solid rgb(0, 140, 255);
}

.new-book:active {
    box-shadow: inset -2px 2px 2px 1px rgb(0, 117, 119);
}