*,
::before,
::after {
	box-sizing: border-box;
}

html {
	font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: 20px;
}

.book {
    border-radius: 15px;
    box-shadow: 2px 2px 3px lightslategrey;
    padding: 10px;
    background-color: rgb(219, 255, 255);
}

.book:hover {
    background-color: rgb(157, 255, 234);
}

.book-header {
    display: flex;
    justify-content: space-between;
}

.remove-book {
    align-self: flex-start;
    padding: 5px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(253, 178, 155);
    border-width: 1px;
    flex-shrink: 0;
}

.remove-book:hover {
    cursor: pointer;
}

.remove-book:active {
    box-shadow: inset -1px 1px 1px 1px rgb(243, 128, 93);
}

.center {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.new-book {
    border-radius: 30px;
    padding: 5px 30px;
    border-style: none;
    background-color:rgb(78, 216, 186);
    font-size: 1.5rem;
    font-weight: bold;
}

.new-book:hover {
    cursor: pointer;
    outline: 2px solid rgb(0, 140, 255);
}

.new-book:active {
    box-shadow: inset -2px 2px 2px 1px rgb(0, 117, 119);
}

::backdrop {
    background-color: white;
    opacity: 0.7;
}

form > div > div {
    margin: 10px;
}

form > div > div:not(:last-child) {
    display: flex;
    align-items: center;
    gap: 5px;
}

input[type="number"],
input[type="text"] {
    width: 100px;
    flex: 1;
}

form > div > button {
    margin-top: 20px;
}